.News_aigin {
	text-align: center;
	color: #FFF;
	font-family: SutonnyMJ;
	font-size: 24px;
}
#button 
{
	text-align: center;
}

.News_aigin {
	text-align: center;
	font-family: SutonnyMJ;
	font-size: 20px;
	color: #FFF;
}
.DOT {
	font-size: 24px;
}